* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

header {
    background-color: brown;
    min-height: 100px;
}

header h1 {
    margin: 0;
    padding: 0;
    color: white;
}

#logo {
    float: right;
    height: 80px;
}

/* Flag rules */
.strip {
    height: 25px;
    width: 400px;
    display: block;
}

.red {
    background-color: red;
}

.yellow {
    background-color: yellow;
}

.hidden {
    display: none;
}

/* One solution */
.visible {
    display: block;
}

footer {
    background-color: black;
    height: 100px;
}

footer h2 {
    color: gray;
}