* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

header {
  background-color: #f24537;
  min-height: 100px;
}

header h1 {
  margin-top: 0;
  margin-left: 10px;
  color: white;
}

main,
div,
button {
  margin-left: 10px;
}

#logo {
  float: right;
  height: 80px;
}

/* Flag rules */
.strip {
  height: 25px;
  width: 400px;
  display: block;
}

.red {
  background-color: red;
}

.yellow {
  background-color: yellow;
}

.hidden {
  display: none;
}

/* One solution */
.visible {
  display: block;
}

footer {
  background-color: black;
  height: 100px;
}

footer h2 {
  color: gray;
  margin-left: 10px;
}

.myButton {
  box-shadow: inset 0px 1px 0px 0px #f5978e;
  background: linear-gradient(to bottom, #f24537 5%, #c62d1f 100%);
  background-color: #f24537;
  border-radius: 6px;
  border: 1px solid #d02718;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 15px;
  font-weight: bold;
  padding: 6px 24px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #810e05;
}

.myButton:hover {
  background: linear-gradient(to bottom, #c62d1f 5%, #f24537 100%);
  background-color: #c62d1f;
}

.myButton:active {
  position: relative;
  top: 1px;
}
