* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: Montserrat;
  src: url("../fonts/Montserrat-Regular.ttf");
}

body {
  font-family: "Montserrat", sans-serif;
}

.hero {
  min-height: 80vh;
  position: relative;
  overflow: hidden;
}

nav {
  min-height: 20vh;
  display: flex;
  /*background-color: blue;*/
  align-items: center;
  justify-content: center;
  text-align: center;
}

.menu {
  width: 600px;
  /*background-color: green;*/
}
.menu ul {
  list-style-type: none;
  font-size: 2rem;
}

.menu ul li {
  display: inline;
}

.menu li a {
  text-decoration: none;
  margin: 0 1rem;
  color: gray;
}

.menu li a:hover {
  color: black;
}
.logo {
  font-size: 3rem;
  font-weight: 600;
  margin: 0 2rem;
  width: 170px;
  /*background-color: red;*/
}

.hero img {
  position: absolute;
  top: 10%;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 1;
  object-fit: cover;
  mix-blend-mode: hard-light;
  animation: reveal 1s ease forwards,
    swing 3s ease-in-out infinite alternate-reverse;
  opacity: 0;
}

.hero video {
  position: absolute;
  top: 10%;
  left: 0;
  height: 100%;
  width: 100%;
  object-fit: cover;
  animation: reveal 1s ease 0.5s forwards,
    swing 3s ease-in-out infinite alternate-reverse;
  opacity: 0;
}

.title {
  font-size: 6rem;
  font-weight: 600;
  color: gray;
  /*background-color: chartreuse;*/
  z-index: 2;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@keyframes reveal {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes swing {
  from {
    transform: rotateZ(0);
  }

  to {
    transform: rotateZ(3deg);
  }
}

@media screen and (max-width: 720px) {
  nav {
    flex-direction: column;
  }
}

@media screen and (max-width: 480px) {
  .menu ul li {
    display: block;
    /*background-color: red;*/
  }
}
