body,
div,
p {
  margin: 0;
  padding: 0;
}

body {
  background-color: yellow;
}

.cian {
  background-color: rebeccapurple;
}

.rojo {
  background-color: rgb(255, 255, 0);
}

#rojo {
  background-color: red;
}

.parrafo-verde {
  color: green;
  font-size: 30px;
}

/*footer {
    background-color: lightgray;
    height: 100px;
    width: 400px
}*/

h1,
h2 {
  background-color: red;
}

#parrafo1 {
  text-align: center;
  color: red;
  background-color: seagreen;
}

#caja {
  width: 400px;
  border: 5px solid gray;
  margin: 50px;
  padding: 70px;
  background-color: honeydew;
}

.caja-enlace {
  border: 5px solid gray;
  margin: 10px;
  padding: 10px;
  background-color: cornflowerblue;
}

/* unvisited link */
/* a:link {
    color: rgb(0, 255, 255)
} */

/* visited link */
/* a:visited {
    color: #00FF00
} */

/* mouse over link */
a:hover {
  color: #ff00ff;
  text-decoration: none;
}

/* selected link */
/* a:active {
    color: #0000FF
} */

/* estilos para el posicinamiento de la página WEB */
header {
  height: 12rem;
  background-color: #888;
}

section {
  float: left;
  width: 20%;
  background-color: lightcyan;
}

main {
  float: left;
  width: 60%;
  background-color: lightgreen;
}

aside {
  float: left;
  width: 20%;
  background-color: lightcyan;
}

footer {
  clear: both;
  height: 6rem;
  background-color: #888;
}

/*#miFoto1 {
    width:50px
} */

/*img:hover {
    filter: blur(5px)
}*/

/* estilos para el menú  */
nav a {
  float: left;
  text-align: center;
  padding: 12px;
  color: white;
  text-decoration: none;
  font-size: 17px;
}

/* Navbar links on mouse-over */
nav a:hover {
  background-color: #000;
}

/* Current/active navbar link */
.active {
  background-color: #4caf50;
}

/* Add responsiveness - will automatically display the navbar vertically instead of horizontally on screens less than 500 pixels */
@media screen and (max-width: 500px) {
  nav a {
    float: none;
    display: block;
  }
}
